body{
	margin:0px;	
	background-color:#E7E7E7;
}

nav{
	width:100%;
	height: auto;
	opacity:0.9;
	background-color:red;	
	position:fixed;
}

nav .logo{
   float:left;
   color:white;
   margin-top:12px;
   margin-left:15px;	
}
.mytable{
	margin:0px auto;
	width:500px; 
	border-collapse:collapse;
	border:#999 1px solid;
	margin-bottom:10px;
}
.mytable th{
	background-color:pink;
	padding:8px;
	border:#999 1px solid;
	text-align:center;
}

.mytable td{
	padding:6px;
	border:#999 1px solid;
	text-align:center;
}
.mytable tr:nth-child(2n+0){
	background:#EAF4FF;	
}
.mytable tr:nth-child(2n+1){
	background:#A4D1FF;	
}

nav a{
	margin-top:12px;
	float:right;
	margin-right:20px;
	color:#DDDCDC;
	text-decoration:none;
	font-size:20px;
}
nav > #menus{
	width:30px;
	padding:3px;
	height:22px;
	float:right;
	margin-top:8px;
	margin-right:10px;
	cursor:pointer;
}
nav >  #mynavs{
	display:none;
	transition:display ease 0.5s linear 0s ;
	width:100%;
	float:left;
	margin-left:-60px;
	height:50px;
}
nav #menus > div{
	width:30px;
	height:5px;
	margin-bottom:3px;
	border-radius:10px;
	background-color:#261863;
}
nav > #menus:hover{
	border:1px solid  #261863;
	box-shadow:0px 0px 1px 0px;
	border-radius:3px;
}
nav a:hover{
	color:white; 
	}
	#myimg{
	width:500px;
    margin-left:45px; 	
	}
.menu{
	width:400px;
	box-shadow:0px 0px 3px 0px;
	background-color:#E7E7E7;
	margin:auto;
	height:auto;
	padding:5px;
}	
.content{
	width:500px;
	box-shadow:0px 0px 3px 0px;
	background-color:#E7E7E7;
	margin:auto;
	height:auto;
	padding:5px;
}
.content > .img-content{
	width:470px;
	padding-top:10px;
	height:700px;
	border:1px solid silver;
	padding-left:25px;
}
.content >  .img-content > .imgs{
	width:200px;
	height:200px;
	border:1px solid silver;
	float:left;
	margin-bottom:30px;
	box-shadow:0px 0px 5px 0px;
	margin-left:10px;
	
}

.content >  .img-content > .imgs img{
	width:200px;
	height:200px;
}
.content >  .img-content  p{
	margin-top:-3px;	
}
.login-form{
	width:390px;
	border:1px solid lightgreen;
	border-radius:10px;
	height:200px;
	background:white;
	padding:10px;
	margin:100px auto;	
}
.login-form > #username{
	width:300px;
	height:30px;	
}
.login-form > #password{
	width:300px;
	height:30px;	
}
.menu #img{
	background-repeat:no-repeat;
	width:400px;
	height:400px;
}
#image{
width:400px;
height:400px;	
}
.wrap{
	padding:5px;
	width:510px;
	height:650px;
	margin:5px auto;
	box-shadow:0px 0px 3px 0px;
	background-color:#E7E7E7;	
}
.wraps{
	padding:5px;
	width:510px;
	height:1010px;
	margin:5px auto;
	box-shadow:0px 0px 3px 0px;
	background-color:#E7E7E7;	
}
.hrs{
	display:block;	
}

.vission{
	font-size:36px;
	text-decoration:underline;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
form{
 margin-left:15px;
 padding:5px;	
}
fieldset{
	padding-left:35px;	
}
#error{
margin-top:0px;
margin-left:40px;
color:red;
}
#icon {
	opacity:1;
	-webkit-transition:opacity 1.0s linear 0s;	
	
}
.contact {
    border:1px solid silver;
	width:400px;
	height:235px;
	float:left;
	margin-top:20px;
	margin-bottom:10px;
}
.contact > p{margin-left:10px;}

.zone_pastor{
color:#261863;
 margin-left:10px;
}
.zone{
	width:510px;
	height:440px;	
}
.executive_commitee{
color:#261863;
 margin-left:10px;	
}
.executive{
	width:500px;
	height:440px;	
}


.footer{
	 float:left; 
	margin:2px auto;
	margin-left:150px;		
	
}
.footer > p{
	color:white;
}
 #fb{
	margin:3px;
}
#tw{
	margin:3px;
}